<div class="header">
  <h1>Solution is based on DFS Algorithm</h1>
  <h3>You can click any cell to init the algorithm or start from random cell by clicking the button below.</h3>
  <div>
    <button (click)="start()" [disabled]="algorithmIsInProcess">Start with random cell</button>
  </div>
</div>
<div class="body">

  <div class="cells">

    <div *ngFor="let cell of cells; let i = index;"
         [style.grid-column]="cell.gridColumn"
         [style.grid-row]="cell.gridRow"
         [class.visited]="cell.visited"
         (click)="start(cell)">
      <div class="bottom">
        <div *ngFor="let border of cell.bottomBorders"
             [class.partitionUsed]="border.partition"
             [style.flex-basis]="border.partition"
             [class.show]="border.isExist"></div>
      </div>
      <div class="right">
        <div *ngFor="let border of cell.rightBorders"
             [class.partitionUsed]="border.partition"
             [style.flex-basis]="border.partition"
             [class.show]="border.isExist"></div>
      </div>
      <div class="left">
        <div *ngFor="let border of cell.leftBorders"
             [class.partitionUsed]="border.partition"
             [style.flex-basis]="border.partition"
             [class.show]="border.isExist"></div>
      </div>
      <div class="top">
        <div *ngFor="let border of cell.topBorders"
             [class.partitionUsed]="border.partition"
             [style.flex-basis]="border.partition"
             [class.show]="border.isExist"></div>
      </div>
      <span>{{i}}</span>
    </div>

  </div>

</div>

<h3 *ngIf="algorithmIsInProcess">Application state reset in {{timeoutAfterFinishInSeconds}}s after finish</h3>
